<p id="notice"><%= notice %></p>

<h1>Listing Ballots</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ballots.each do |ballot| %>
      <tr>
        <td><%= ballot.issue %></td>
        <td><%= ballot.options %></td>
        <td><%= link_to 'Show', ballot %></td>
        <td><%= link_to 'Edit', edit_ballot_path(ballot) %></td>
        <td><%= link_to 'Destroy', ballot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ballot', new_ballot_path %>
