<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @ballot.issue %>
</p>

<p>
  <strong>Options:</strong>
  <%= @ballot.options %>
</p>

<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
